#div1 {
    background: rgba(241, 241, 137, 0.4);
    width: 300px;
    height: 150px;
    opacity: 1.0;
    border-style:double;
    padding-left: 100px;
    border-radius: 5px;
    position:absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
   
   
   


}
#div2 {
    background: #6868db66;
    margin-top: 40px;
    width: 300px;
    height:150px;
    border-style:solid;
    border-width: 0.5px;
    padding-left: 100px;
    border-radius:5px;
    position:absolute;
    left:50%;
    transform: translate(-50%, -50%);
    top: 400px;
}
#span1 {
    color: tomato;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#h11 {
    color : tomato;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
#text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
#text2 {
    font-size: 30px;
    font-style: italic;
}
#topic {
    position: absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top:100px;
}
